{{define "page:title"}}Add Author{{end}}
{{define "page:meta"}}<meta name="robots" content="noindex">{{end}}
{{define "page:head"}}<link rel="stylesheet" href="/static/css/form.css">{{end}}
{{define "page:main"}}
  <h1>Add Author</h1>
  <form action="/authors/create" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" required></input>
      <br/>
      <label for="bio">Bio</label>
      <textarea class="form-control" id="bio" name="bio" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
{{end}}
